{% extends "grumblr/main_template.html" %}	  
{%block title%}Profile{%endblock title%}
{%block jumbo%}
	    <div class="jumbotron">
      <div class="container">
        <h1><div class="grumblr"> GRUMBLR: {{profile.username}}</div></h1>
		<div class="col-lg-8">
				
		</div>
		 </div>
		 
	<div class="col-lg-4"></div>
        
      </div>
    </div>
    {%endblock jumbo%}
	{%block bodyblock %}
     <div class="col-lg-4"><img src="/static/images/twit.jpg" width="300" height ="400"></div>
        <div class="col-lg-8">
        		<h2> <table>
<tr>
    <td>Username: </td> <td class="grumblr-theme"><input type="text" name="username" value="{{profile.username}}"></input></td>
</tr>
<tr>
	<td><input type="submit" value="Change Password" class="btn-amey" method=post" action="grumblr/editprofilesubmit"></td><td></td>
</tr>

</table></h2></div><div>

         
{%endblock bodyblock%}