{% extends "grumblr/main_template.html" %}	  
{%block title%}Find Grumblrs{%endblock title%}	  
	
{%block jumbo%}

 <div class="jumbotron">
      <div class="container">
        <h1><div class="grumblr">GRUMBLR: find grumblrs</div></h1>
		 <div class="col-lg-4">
<form method="post" action="/grumblr/creategrumbl">
<input type="textarea" class="input-amey" name="grumbl" placeholder="Create a Grumbl"><br/><input type="submit" class="btn-amey" value="Create!"/>
{% csrf_token %}
</form>


		 </div>	
		 
		 <div class="col-lg-4">
		 <form method="post" action="/grumblr/searchgrumblrs">
<input type="textarea" class="input-amey" name="searchgrumbl" placeholder="Search Grumbls"><br/><input type="submit" class="btn-amey" value="Search!"/>
{% csrf_token %}
</form>
		 </div></div>	</div>	
{% endblock jumbo%}

{%block bodyblock%}
<div class="col-lg-4"><img src="/static/images/twit.jpg" width="300" height ="400"></div>
{% for error in errors %}
{{error}}
{% endfor%}
<br/>Please give Username of the user you want to follow:<br/>
<form method="post" action="/grumblr/becomefollower" >
<input type="textarea" class="input-amey" name="newuser" placeholder="username"><br/>
<input type="submit" class="btn-amey" value="Follow!"/>
{% csrf_token %}
</form>

<div class="col-lg-4 fancytext_big">
I have followed:<br/>
{%for a in ihavefollowed%}{{a.thefollowed}}<br/>{%endfor%}
<hr/>
Some suggestions:<br/>
{%for item in followers%}{%if item.username != username1 %}<a href="/grumblr/profile/{{item.username}}"><button type="button" class="btn btn-sm btn-success">{{item.id}}&nbsp {{item}}</button></a><br/>{%endif%}{%endfor%}

</div>

{%endblock bodyblock%}