	  
	  
	  <!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Home{% endblock title %}</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    
	
	<link href="/static/css/bootstrap.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Flavors' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Sunshiney' rel='stylesheet' type='text/css'>
	
	

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  {% block menu %}
    
	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container grumblr">
        <div class="navbar-header grumblr">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand grumblr" href="/grumblr/">Home</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav grumblr">
            <li><a href="/grumblr/mygrumblrs/"><div class="grumblr menusize">My GRUMBLR</div></a></li>
            
            
              <li>
              <a href="#" class="  dropdown-toggle grumblr" data-toggle="dropdown">Following <b class="caret"></b></a>
              <ul class="dropdown-menu">
              <li><a href="/grumblr/followers">My Followers</a></li>
              <li><a href="/grumblr/findgrumblrs">Find Grumblrs</a></li>
              <li><a href="/grumblr/blockuser/"><div class="grumblr menusize">Block Users</div></a></li>
            	</ul>
            </li>
            
            
            <li class="dropdown grumblr">
              <a href="#" class=" grumblr dropdown-toggle grumblr" data-toggle="dropdown">Profile <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/grumblr/profile">My Profile</a></li>
                <li><a href="/grumblr/editprofile">Edit Profile</a></li>
                
                <li class="divider"></li>
				<li><a href="/grumblr/logout">Logout</a></li>
                
              </ul></li>
              
              
            <li><a href="/grumblr/temp/"><div class="grumblr menusize">temp</div></a></li>
          </ul>
		  

        </div><!--/.navbar-collapse -->
      </div>
    </div>
    
    {% endblock menu %}
    {%block jumbo%}
	    <div class="jumbotron">
      <div class="container">
        <h1><div class="grumblr">GRUMBLR</div></h1>
		
		 </div>
		 
	
        
      </div>
    </div>
    
    {%endblock jumbo%}
	
{% block errors %}

{% endblock errors %}
    {% block container %}
    <div class="container">
      <!-- Example row of columns -->
      {%block bodyblock%}{%endblock bodyblock%}
	 
	  <div class="row">

                
      </div>
		<br/><br/>
		<hr/>
      <footer>
        <p>&copy; Grumblr - CMU - Amey Ghadigaonkar (aghadiga)</p>
      </footer>
    </div> <!-- /container -->
    
    {% endblock container %}


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="static/js/jquery.js"></script>
     <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>