{% extends "grumblr/main_template.html" %}	  
{%block title%}Forgot Password{%endblock title%}
{%block jumbo%}

	    <div class="jumbotron">
      <div class="container">
        <h1><div class="grumblr"> GRUMBLR{{username}}</div></h1>
		<div class="col-lg-8">
				
		</div>
		 </div>
		 
	<div class="col-lg-4"></div>
        
      </div>
    </div>
    {%endblock jumbo%}
	{%block bodyblock %}
     <div class="col-lg-4">
    <img src="/static/images/twit.jpg" width="300" height ="400">
          
     </div>
        <div class="col-lg-8">
        	<h3>           {% for error in errors %}
<p style="color: red">
	{{errors}}
</p>
{% endfor %}

{%if success %}<div class="grumblr-red">Password changed successfully!</div>{%endif%}
<table> 
<form name="passform" action="/grumblr/iforgotpasssubmit" method="post">
        		

<tr>
    <td>Email</td> <td class="grumblr-green"><input type="email" name="email" "></input></td>
</tr>
<tr>
	<td><input type="submit" value="Submit request" class="btn-amey" method=post" ></td>
	<td>{%csrf_token%}</td>
</tr>

</table></form></h3></div><div>


         
{%endblock bodyblock%}

{%block ameyjs%}

<script type="text/javascript">
function checkPass()
{
	if(document.forms["0"]["ogipass"].value =="" || document.forms["0"]["newpass"].value =="" || document.forms["0"]["newpass2"].value =="")
		{
		alert("Enter some string!");
		return false;
		}
	
	
	else
		{return true;}
	
	if (document.forms["0"]["newpass"].value !=  document.forms["0"]["newpass2"].value)
		{
			alert("New Passwords dont match");
			return false;
		}
	else
		{return true;}
}	

</script>{%endblock ameyjs%}