{% extends "grumblr/main_template.html" %}
{%block title%}MY Grumbls{%endblock title%}
{%block bodyblock%}

	  <div class="row">
          {% for item in items %}
        <div class="col-lg-4">
          <h2> <font class="fancytext_big"> {{item.user}} grumbled:</font></h2>
          <div class="fancytext1"><p>{{item.grumbl}} </p></div>
           
		  <button type="button" class="btn btn-sm btn-success">Like</button>
		  <button type="button" class="btn btn-sm btn-primary">Share</button>
       
    
    
        <button type="button" class="btn btn-sm btn-warning">Comment</button>
		<button type="button" class="btn btn-sm btn-danger">View pic</button><br/>
        {{item.datetime}}
        </div>
{% endfor %}
      </div>
{%endblock bodyblock%}

{%block jumbo%}
	    <div class="jumbotron">
      <div class="container">
        <h1><div class="grumblr">GRUMBLR</div></h1>
		<div class="col-lg-8">
		<a href="/grumblr/mygrumblrs"><button class="btn-amey ">My Grumbls</button></a>
		<a href="/grumblr/allgrumblrs"><button class="btn-amey ">All Grumbls</button></a>
		<a href="/grumblr/"><button class="btn-amey ">Create Grumbls</button></a>
		
		
		</div>
		 </div>
		 
	<div class="col-lg-6"></div>
        
      </div>
    </div>
    
    {%endblock jumbo%}